@import "tailwindcss";


:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #fdfdfd;
  --border: #ffffff;
  --link: #ffffff;
  --link-hover: #ffffff;
  --input-bg: #ffffff;
  --input-border: #ffffff;
  --input-text: #e03838;
  --input-placeholder: #c89f6a;
  --heading-text: #a86b32;
  --paragraph-text: #171717;
  --button-text: #ffcc91;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2905d;
    --foreground: #ffffff;
    --accent: #ffffff;
    --border: #ffffff;
    --link: #ffffff;
    --link-hover: #ffffff;
    --input-bg: #ffffff;
    --input-border: #ffffff;
    --input-text: #ffffff;
    --input-placeholder: #ffffff;
    --heading-text: #ffffff;
    --paragraph-text: #ffffff;
    --button-text: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Georgia', 'Times New Roman', serif;
}
